################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVPdemo/FileContentIndex/4d737139-cce8-4864-96a8-a25d0b092b4a.vsidx
/.vs/MVPdemo/FileContentIndex/7b032eda-da25-4b32-a15a-33d7317d30c0.vsidx
/.vs/MVPdemo/FileContentIndex/a07fe17f-a599-4187-8989-2b719a992239.vsidx
/.vs/MVPdemo/FileContentIndex/fae8b046-4aeb-4a02-8a76-54274c0f268f.vsidx
